html, body, div, p {
    color: #fff;
    font-family: Helvetica,Roboto,Noto,Segoe UI,Arial,sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    line-height: 1;
}

div {
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#top-bar {
    position: absolute;
    padding: 20px;
    top: 0px;
}

#bottom-bar {
    position: absolute;
    padding: 20px;
    bottom: 0px;
}
